*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}
body {
  margin: 0;
  padding: 0;
  background-image: url('./blue.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif; 
}

.nav {
  position: fixed;
  top:0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: rgb(242, 242, 243);
  z-index: 1000;
}
.nav__brand,
.nav__link {
  color: rgb(6, 70, 94);
  text-transform: uppercase;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(190, 189, 189);
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(74, 148, 157);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
.center-content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin-top: -20vh;
  margin-left: 7vh;
  text-align: center;
  color:rgb(28, 90, 144);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* .center-image {
  display: block;
  margin: 30px auto; 
  max-width: 30%;
} */
.center-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #073b72; /* Adjust the background color as needed */
  color: #fff; /* Adjust the text color as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 37px; 
}
.image-gallery {
  display: flex;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  background-color: #fff; 
  padding: 10px;
}
.image-gallery img {
  max-width: 25%;
  height: auto;
  margin: 50px; 
  border-radius: 10px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: box-shadow 0.3s ease-in-out; 
}

.image-gallery img:hover {
  box-shadow: 0 32px 64px rgba(0, 0, 0, 0.2); 
}